.jumbotron {
    background-color: #aea8b3;
}

.nav>li>a:hover {
    background-color: #aea8b3;
}

.table-responsive {
    max-height: 400px;
}

.search-form {
    padding-top: 40px;
}

.table-responsive a {
    padding-right: 20px;
}

#selectedTab {
    display: none;
}

#patientinsert {
    margin-bottom: 20px;
}
