<fieldset>
    <legend>Register</legend>
    <form class="form-horizontal">
          <div class="form-group">
            <label for="inputUsername" class="col-sm-2 col-sm-offset-2 control-label">Username</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputFirstname" class="col-sm-2 col-sm-offset-2 control-label">Firstname</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputFirstname" placeholder="Firstname">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastname" class="col-sm-2 col-sm-offset-2 control-label">Lastname</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputLastname" placeholder="Lastname">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAmka" class="col-sm-2 col-sm-offset-2 control-label">AMKA</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputAmka" placeholder="AMKA">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 col-sm-offset-2 control-label">Email</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>


          <div class="form-group">
            <label for="inputPassword1" class="col-sm-2 col-sm-offset-2 control-label">Password</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2" class="col-sm-2 col-sm-offset-2 control-label">Password Confirm</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" id="inputPassword2" placeholder="Repeat Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </div>
      </form>

</fieldset>
